<p id="notice"><%= notice %></p>

  <div class="row" data-product-id="<%= @product.id %>">
    <div class="col-md-12">
      <div>
        <%= image_tag(@product.image_url, width: "350", class: "img-responsive img-zoom", data_zoom_image: "@product.image_url")%>
      </div>
    </div>
  
    <div class="col-md-12">
      <p>
        Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>">
      </p>
    </div>
    
    
    
    <div class="col-md-12">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>
    </div>
    
    <div class="col-md-12">
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
    </div>
    
    <div class="col-md-12">
      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>
    </div>
  
    <div class="col-md-12">
      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>
    </div>
    
    <%= form_tag "/payments/create" do %>
          <%= hidden_field_tag(:product_id, @product.id) %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
    
    <div class="col-md-12">
      <%= render "products/new_comment" %>
    </div>
  
  <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

    <div class="col-md-12">
      <%= render "products/comments" %>  
    </div>
    
    <div class="pages"><%= will_paginate @comments %></div>

</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
